* {
    font-family: arial;
}
header {
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 171, 159);
}
th, td, table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
    background-color: white;
}